html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url(../images/www/leaf-bg.svg);
  background-color: #588477;
  background-repeat: repeat;
  background-size: 64px;
  border: 3px solid #467366;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #467366;
  color: white;
  border: 3px #2d5a4d solid;
  border-radius: 8px;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/www/leaf-icon.svg");
  background-position: .75em;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.banner {
  background:
    linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)),
    url("../images/www/banner.jpg") no-repeat center bottom / cover;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/www/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: 10px 180px;
  background-size: 100px;

}

h1 {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
