html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-color: #588477;
  background-repeat: repeat;
  background-size: 64px;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  background-color: #467366;
  color: white;
  align-content: center;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-size: 64px;
}

.banner {
  background:
    linear-gradient(to bottom, rgba(16, 52, 41, .8), rgba(16, 52, 41, 0) 50%),
    url("../images/banner.jpg") no-repeat center bottom / cover;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: 15px 180px;
  background-size: 100px;

}

h1 {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
