html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url(../images/www/leaf-bg.svg);
  background-repeat: repeat;
  border: .3px solid #467366;



}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {
  background-image: url(../images/www/banner.jpg);

}

.banner-content {
  color: #fff;

}

h1 {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
